.box{
    height: 50px;
    width: 50px;
    background: red;
    
}

.box_inner{
    padding: 20px;
    background: green;

    padding: 10px;
    &:after{
        content: "";
        display: block;
    }
}


.customToolTip{
    position: relative;
    display: inline-block;
    .customToolContent{
        background: white;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
        padding: 4px;
        display: flex;
        position: absolute;
        top: -35px;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        &.show{
            display: block;
        }
        span{
            cursor: pointer;
            display: inline-block;
        }
        z-index: 2;
        &:after{
            position: relative;
            content: "";
            display: inline-block;
            $size:6px;
            border-left: $size solid transparent;
            border-right: $size solid transparent;
            border-top: $size solid rgb(189, 189, 189);
            position: absolute;
            top: 32px;
            left: 50%;
            transform: translate(-50%);
            z-index: -1;
        }
    }
    .customToolTipBase{
        cursor: pointer;

    }
}