@import "variables";

.customSelect {
  border-radius: $inputBorderRadius;
  .MuiSelect-root {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
  
  }
  .MuiPaper-root {
    background: transparent;
  }
  .MuiSvgIcon-root {
    padding-right: 10px;
    padding-left: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .MuiFormControl-root {
    margin-top: 0;
    margin-bottom: 0;
  }
}
