
.MuiButtonBase-root{
    transition: 0.5s ease!important;
    .sideBarIcon{
        color: white;
        min-width: auto;
        margin-right: 15px;
    }
    .sideBarText{
        span{
            font-size: 13px;
            font-weight: 200;
        }
    }
    &.centerIcons{
        flex-wrap: wrap;
        justify-content: center;
        .sideBarText{
            span{
                font-size: 12px;
                text-align: center;
                font-weight: 200;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
            }
            
        }
        .sideBarIcon{
            text-align: center;
            min-width: 0;
            color: white;
            svg{
                font-size: 40px;
            }
            margin-right: 0;
        }
    }
    
}